html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

*:focus:not(.focus-visible) {
  outline-width: 0;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
